/* 返回顶部 */
.back-to-top {
	position: fixed;
	display: none;
	font-size: 2em;
	width: 50px;
	height: 50px;
	bottom: 50px;
	right: 50px;
	border: 1px solid;
	outline: 0;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktY2hldnJvbi11cCIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjY0NiA0LjY0NmEuNS41IDAgMCAxIC43MDggMGw2IDZhLjUuNSAwIDAgMS0uNzA4LjcwOEw4IDUuNzA3bC01LjY0NiA1LjY0N2EuNS41IDAgMCAxLS43MDgtLjcwOGw2LTZ6Ii8+PC9zdmc+);
	background-color: whitesmoke;
	background-position: center;
	background-repeat: repeat-y;
	background-size: calc(70%);
}

.back-to-top:hover {
	background-position-y: calc(-185%);
	transition: all 0.3s linear;
}

/* 更好的sticky */
.sticky {
	/* 占位,具体由js实现 */
}

.sticky>*:first-child {
	position: fixed;
}

.z-1050 {
	z-index: 1050;
}

@media (min-width:991.98px) {
	.position-lg-static {
		position: static !important;
	}

	.z-lg {
		z-index: auto !important;
	}
}

.footer {
	z-index: 1020
}

/* .flex-fill的后代pre宽度修正 */
.mw-0 {
	min-width: 0;
}

.width-300 {
	min-width: 300px;
	max-width: 300px;
}

.bg-size-cover {
	background-size: cover;
}

#sidebar {
	top: 65px;
	bottom: 0;
}